<h1>Listing heroes</h1>

<table>
  <tr>
    <th>Hero</th>
    <th>Spec</th>
  </tr>

  <% @heroes.each do |hero| %>
    <tr>
      <td><%= hero.name %></td>
      <td><a href="<%= hero.spec_url %>"><%= hero.spec_name %></a></td>
    </tr>
  <% end %>
</table>

<p>
<%= link_to 'Add hero', new_hero_path %>
</p>
