// Place all the styles related to the heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$link-color: #0099ff;
$link-color-bg: #e0eeff;

$item-link-color: #444;
$item-link-color-bg: #e0eeff;

$artifact-bg: #d24b43;
$uruforged-bg: #986698;
$legendary-bg: #FE9800;
$unique-bg: #AF7635;
$relic-bg: #e242a3;
$ring-bg: #eee;
$insignia-bg: #fef;
$medallion-bg: #dff;

@font-face: {
  font-family: "Play";
  src: local("Play"), url(/assets/Play-Regular.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
}

#page-main {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
#page-body {
  margin: 10px;
}

#page-header {
  background-color: #eee;
  margin: 0;
  padding: 5px;
}

#page-footer {

}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  background-color: $link-color-bg;
}

td {
  padding: 2px;
}

hr {
  border: 0;
  background: #999;
  height: 1px;
}

input[type=text] {
    width: 400px;
}

.hero-level {
  font-size: x-small;
}

.item-type {
  padding: 3px;
  a {
    color: $item-link-color;
  }
}

.item-type-artifact {
  background-color: $artifact-bg
}

.item-type-uru-forged {
  background-color: $uruforged-bg
}

.item-type-legendary {
  background-color: $legendary-bg
}

.item-type-unique {
  background-color: $unique-bg
}

.item-type-insignia {
  background-color: $insignia-bg
}

.item-type-medallion {
  background-color: $medallion-bg
}

.item-type-relic {
  background-color: $relic-bg
}

.item-type-ring {
  background-color: $ring-bg
}
