<% content_for :title, "Edit Item" %>
<h1>Edit Item for <%= link_to @hero.name, hero_path(@hero) %></h1>

<%= render 'form' %>

<%= link_to 'Back to hero', hero_path(@hero) %> |
<%= link_to 'Back to hero list', heroes_path %>
